*{
    padding: 0;
    margin: 0;
}
h1,ul,li{
    display: inline;
}
nav{
    background-color: black;
    color: white;
    padding: 15px;
}
ul{
    display: inline;
    margin-left: 60%;


}
li{
    color: grey;
    cursor: pointer;
    word-spacing: 5px;
    
}
li:hover{
    color: white;
}